@import url('https://fonts.googleapis.com/css?family=Markazi+Text|Karla:Medium|Helvetica');

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: bottom 10px;
}


/* Fonts and text styling*/
.header-text {
  display: inline;
  color: var(--secondary, #F4CE14);
  /* H1 */
  font-family: Markazi Text;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}

.subheader {
  color: #FFF;

  /* h2 */
  font-family: Markazi Text;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.subtext {
  color: #FFF;

  /* h3 */
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: normal;
  width: 300px;
  margin-top: 20px;
}


ul {
  list-style: none;
  list-style-type: none;

}

section.list-class {
  gap: 40px;
}

.list-class {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 10px;
}

.vert-list {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  flex-flow: row wrap;
}

.vert-list li {
  flex-basis: 100%
}

.hero {
  background-color: #495E57;
  height: 400px;
}

nav ul li {
  color: black;
  font-family: "Karla-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
}

nav li a {
  color: black;
  text-decoration: none;
}

@media all and (max-width: 600px) {

  .hero {
    height: auto;
  }
  nav ul,
  .list-class {
    flex-wrap: wrap;
  }

  nav ul li,
  .list-class article {
    flex-basis: 50%;
  }

}

@media all and (max-width: 400px) {
  .container {
    width: 90%;
  }

  nav ul li,
  .list-class article {
    flex-basis: 100%;
  }
}

#main-pic {
  flex: 1;
  justify-content: right;
  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 100px;
  max-height: 400px;
  width: auto;
  height: auto;
  border-radius: 5%;
}

#footer-image {
  display: block;
  justify-content: center;
  padding-top: 20px;
  min-width: 100px;
  max-height: 200px;
  width: auto;
  height: auto;
}

footer {
  padding-top: 40px;
  ;
}

.list-class article ul {
  text-align: left;
  margin: 10px;
  padding: 0;
}

.list-class article ul li {
  font-size: 1em;
  font-weight: 500;
  padding: 5px;
}

.list-class article ul li a {
  color: black;
  font-family: "Karla-Medium", Helvetica;
  font-size: 18px;
  text-decoration: none;
}

h3 {
  font-family: "Karla-Medium", Helvetica;
  font-weight: bold;
  color: #495E57;
}


.primary-button {
  color: #000;
  text-align: center;

  /* h3 */
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 16px;
  transition-duration: 0.3s;
  background: var(--secondary, #F4CE14);
}

input,
select {
  font-size: 14px;
  line-height: 10px;
  padding: 4px 4px;
  width: 100%;
  min-height: 20px;
  border: unset;
  border-radius: 4px;
  outline-color: #495E57;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.primary-button:hover {
  cursor: pointer;
  background-color: #EE9972;
}

#reservation-form {
  font-size: 16px;
  display: flex;
  margin: 0px auto;
}